body {
    background-color: rgb(1, 1, 41);
    color: white;
    display: flex;
}

#top-container {
    margin: auto;
    padding: 10px;
    width: 75vw;
    /* border: 2px solid white; */
}

input {
    width: 45%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(229, 229, 240);
}

#mealList {
    margin: 20px;
    /* border: 2px solid white; */
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal {
    height: 350px;
    width: 300px;
    border: 2px solid rgb(76, 209, 167);
    margin: 20px;
    padding: 10px;
    border-radius: 17px;
}

img {
    width: 250px;
    height: 200px;
    margin: 2px;
}

.add-to-fav-btn {
    background-color: rgb(239, 33, 33);
    color: white;
    margin: 7px 2px;
    width: 200px;
    height: 35px;
    border-radius: 7px;
}

h3:hover {
    text-decoration: underline;
}

button:hover {
    background-color: rgb(96, 35, 35);
}

#go-to-favs {
    /* position: relative; */
    background-color: rgb(245, 85, 85);
    float: right;
    height: 35px;
    border-radius: 7px;
}

a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
}

.disabled {
    color: gray; /* Change text color to gray */
    background-color: lightgray; /* Change background color to lightgray */
    cursor: not-allowed; /* Change cursor to not-allowed */
}